C:\Users\chris.handy\Documents\Visual Studio 2013\Projects\chandy2g1745\DesktopModules\CoreMessaging\App_LocalResources\SharedResources.resx	Add
/*
!.gitignore
!DesktopModules/

DesktopModules/*
!DesktopModules/chandy/
!DesktopModules/chandy/*
